@{
    ViewData["Title"] = "Import erfolgreich";
}

<div class="row">
    <div class="col-sm-6 col-xs-12">
        <h3>Import erfolgreich</h3>
        <a href="@ViewData["FilePath"]" target="_blank" download><button type="button" class="btn btn-success">Kalenderdatei herunterladen</button></a>
    </div>

    <div class="col-sm-6 col-xs-12">
        <h4>Die Datei importieren</h4>
        <ul>
            <li><a href="https://support.google.com/calendar/answer/37118?hl=de" target="_blank">Google Kalender</a></li>
            <li><a href="http://www.macwelt.de/tipps/iCloud-Kalender-importieren-und-zu-iCloud-hinzufuegen-6505205.html" target="_blank">iCloud Kalender</a></li>
            <li><a href="https://support.office.com/de-de/article/Importieren-oder-Abonnieren-eines-Kalenders-in-Outlook-com-oder-Outlook-im-Web-cff1429c-5af6-41ec-a5b4-74f2c278e98c?ui=de-DE&rs=de-DE&ad=DE#bkmk_newodcimport" target="_blank">Microsoft Kalender</a></li>
        </ul>
    </div>
</div>