﻿@{
    ViewData["Title"] = "Bearbeiten";
}

@using StundenplanImport.Model.GesaHu;
@using StundenplanImport.Model;

@model StundenplanImport.Model.ViewModel.EditViewModel

<div class="row">
    <div class="col-md-3 col-xs-6">
        <h5>Woche</h5>
    </div>
    <div class="col-md-3 col-xs-6">
        <div class="radio">
            <label>
                <input type="radio" name="week" id="week-radio-1" value="1" checked="" onchange="onChangeWeekRadioButton();">
                Gerade Woche
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="week" id="week-radio-2" value="2" onchange="onChangeWeekRadioButton();">
                Ungerade Woche
            </label>
        </div>
    </div>
</div>

<form asp-controller="Export" asp-action="ICalendar" method="post">
    <table class="table table-bordered timetable">
        <thead>
            <tr>
                <th></th>
                <th>Montag</th>
                <th>Dienstag</th>
                <th>Mittwoch</th>
                <th>Donnerstag</th>
                <th>Freitag</th>
            </tr>
        </thead>
        <tbody>
            @{
                int lessonCount = 0;
                for (int lessonRow = 0; lessonRow < 10; lessonRow++)
                {
                    <tr>
                        <td>@(lessonRow + 1)</td>
                        @for (int dayColumn = 0; dayColumn < 5; dayColumn++)
                        {
                            Week week = Week.None;

                            foreach (var lesson in Model.Lessons)
                            {
                                var dayOfWeek = (DayOfWeek)((int)DayOfWeek.Monday + dayColumn);
                                if (lesson.Day == dayOfWeek && lesson.Period == lessonRow)
                                {
                                    <td rowspan="@lesson.Duration.ToString()" id="cell-@(lessonCount)" class="week_@lesson.Week.ToString().ToLower()">
                                        <a id="" href="javascript:void(0)" onclick="onLessonRemoved(@(lessonCount));"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>

                                        <span class="subject">@lesson.Name<br />@lesson.TeacherOrSchoolClass<br />@lesson.Room</span>
                                        @if (lesson.Classes.Count > 1)
                                        {
                                            <select id="select-@(lessonCount)" class="selectpicker" onchange="onLessonClassSelected(@(lessonCount));">
                                                @foreach (var _class in lesson.Classes)
                                                {
                                                    <option value="@_class.ShortName-@_class.ShortTeacher-@_class.Room">@_class.Name @_class.Teacher @_class.Room</option>
                                                }
                                            </select>
                                        }

                                        <input name="lessons[@(lessonCount)].Week" type="hidden" value="@lesson.Week" />
                                        <input name="lessons[@(lessonCount)].Day" type="hidden" value="@lesson.Day" />
                                        <input name="lessons[@(lessonCount)].Period" type="hidden" value="@lesson.Period" />
                                        <input name="lessons[@(lessonCount)].Duration" type="hidden" value="@lesson.Duration" />
                                        <input name="lessons[@(lessonCount)].Name" type="hidden" value="@lesson.Name" id="name-@(lessonCount)" />
                                        <input name="lessons[@(lessonCount)].TeacherOrSchoolClass" type="hidden" value="@lesson.TeacherOrSchoolClass" id="teacher-@(lessonCount)" />
                                        <input name="lessons[@(lessonCount)].Room" type="hidden" value="@lesson.Room" id="room-@(lessonCount)" />
                                    </td>

                                    lessonCount++;

                                    if (week != Week.None)
                                    {
                                        week = Week.Both;
                                    }
                                    else
                                    {
                                        week = lesson.Week;
                                    }
                                }
                                else if (lesson.Day == dayOfWeek && lesson.Period == lessonRow - 1 && lesson.Duration > 1 )
                                {
                                    if (week != Week.None)
                                    {
                                        week = Week.Both;
                                    }
                                    else
                                    {
                                        week = lesson.Week;
                                    }
                                }
                            }

                            if (week != Week.Both)
                            {
                                if (week == Week.None)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    if (week == Week.Even)
                                    {
                                        <td class="week_odd"></td>
                                    }
                                    else
                                    {
                                        <td class="week_even"></td>
                                    }
                                }

                            }
                        }
                    </tr>
                    }
                }
        </tbody>
    </table>

    <input name="timetableName" type="hidden" value="@Model.Element" />
    <input name="kind" type="hidden" value="@Model.Kind" />
    <input type="submit" />

</form>
