﻿@{
    ViewData["Title"] = "Startseite";
}
@using StundenplanImport.Model

<div class="row">
    <div class="col-md-12">
        <h3>Wähle deinen Stundenplan aus:</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-xs-12">
        <div class="row">
            <div class="col-sm-3 col-xs-6">
                <h5>Klasse</h5>
            </div>
            <div class="col-sm-3 col-xs-6">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Auswählen
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    @foreach (var entry in (string[])ViewData["Classes"])
            {
                        <li>@Html.ActionLink(entry, "edit", new { Class = entry })</li>
                    }
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 col-xs-6">
                <h5>Schüler</h5>
            </div>

            <div class="col-sm-3 col-xs-6">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Auswählen
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    @foreach (var entry in (string[])ViewData["Students"])
        {
                        <li>@Html.ActionLink(entry, "edit", new { Student = entry })</li>
                    }
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 col-xs-6">
                <h5>Lehrer</h5>
            </div>
            <div class="col-sm-3 col-xs-6">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Auswählen
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
                    @foreach (var entry in (string[])ViewData["Teachers"])
                    {
                        <li>@Html.ActionLink(entry, "edit", new { Teacher = entry })</li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xs-12">
        <div class="row">
            <div class="col-md-3 col-xs-6">
                <h5>Halbjahr</h5>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="radio">
                    <label>
                        <input type="radio" name="semester" id="semester-radio-1" value="1" checked="">
                        Erstes Halbjahr
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="semester" id="semester-radio-2" value="2">
                        Zweites Halbjahr
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>