﻿/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dropdown-menu {
    height: 256px;
    overflow-y:scroll;
}

.timetable {
    width: 100%;
}

.timetable a {
    vertical-align:middle;
    margin-right:16px;
}

.timetable .subject {
    display:inline-block;
    vertical-align:middle;
    margin-right:16px;
}

.timetable .dropdown {
    display:inline-block;
}

.timetable .bootstrap-select {
    width: auto !important;
}

.timetable td:not(:first-child) {
    vertical-align: middle;
    width:256px;
}

button a {
    color:white;
    text-decoration:none;
}